## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
tags

## PROJECT::GENERAL
coverage
coverage.data
rdoc
pkg

## PROJECT::SPECIFIC
features/fixtures/vcr_cassettes/**/temp/
*.rbc
.bundle
tmp
rerun.txt
