## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
tags

## PROJECT::GENERAL
coverage
coverage.data
rdoc
pkg

## PROJECT::SPECIFIC
features/fixtures/vcr_cassettes/**/temp/
*.rbc
.rbc
.rbx
.bundle
tmp
rerun.txt

features/README.md
features/CHANGELOG.md
features/LICENSE.md
features/Upgrade.md
features/CONTRIBUTING.md

## PROJECT::TOOLS

.rvmrc
.yardoc
doc

## PROJECT::EDITORS
.idea/

.rbenv-version
.ruby-version
.ruby-gemset
bin/*
bundle/*
.rspec-local
