sudo: false
language: ruby
script: script/ci.sh
before_install:
  - gem update --system
  - gem install bundler
cache: bundler
rvm:
  - 2.2.9
  - 2.3.6
  - 2.4.3
  - 2.5.0
  - jruby-19mode
  - rbx-2
matrix:
  allow_failures:
    - rvm: jruby-19mode
    - rvm: rbx-2
