language: ruby
env: CUCUMBER_FORMAT=progress
before_install: "gem uninstall json -a -I"
bundler_args: --without extras
script: "script/ci.sh"
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - ree
  - jruby-18mode
  - jruby-19mode
  - rbx-18mode
  - rbx-19mode
branches:
  only:
    - master
    - 1-x-stable
    - travis-testing
matrix:
  allow_failures:
    - rvm: jruby-18mode
    - rvm: jruby-19mode
    - rvm: rbx-19mode
    - rvm: rbx-18mode

