language: ruby
install: script/cached-bundle install --deployment --jobs 3 --retry 3
script: script/ci.sh
services:
  - redis-server
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - ree
  - jruby-18mode
  - jruby-19mode
  - rbx-18mode
  - rbx-19mode
env:
  global:
  - AMAZON_S3_BUCKET=ci-cache
  - AMAZON_ACCESS_KEY_ID=AKIAJQCVTDEWQHRPBPGQ
  - secure: CYAVdYsFlNbh4a2pqoP+V7wMsJAEwe3vBwOVkDFaXN8vwcsoJhgjAovfpYbRrzO8aoUnwuhitr6cc7Ceo2CGGOoKiHbREkKEMshMR/gnr2mMyOB1UuWFsao8eLuh/+v+ZIxl0+Nl/3uCeDP0t8p0ux/4x4M0U7Krz72iR43W//o=
