language: ruby
env: CUCUMBER_FORMAT=progress
bundler_args: --without extras
script: "script/ci.sh"
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - ree
  - jruby-18mode
  - jruby-19mode
  - rbx-18mode
  - rbx-19mode
matrix:
  allow_failures:
    - rvm: jruby-18mode
    - rvm: jruby-19mode
    - rvm: rbx-19mode
    - rvm: rbx-18mode
    - rvm: 2.0.0
branches:
  except:
    - gh-pages

