name: CI

on:
  push:
    branches: [master]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  cucumber:
    name: "Cucumber / ${{ matrix.ruby-version }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ["3.3", "3.2", "3.1", "3.0", "2.7"]
    steps:
      - uses: actions/checkout@v4
      - run: ./script/install-apt-deps.sh
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: cucumber
        run: ./script/fail_if_warnings cucumber features/
  rspec:
    name: "RSpec / ${{ matrix.ruby-version }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ["3.3", "3.2", "3.1", "3.0", "2.7"]
    steps:
      - uses: actions/checkout@v4
      - run: ./script/install-apt-deps.sh
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: rspec
        run: ./script/fail_if_warnings rspec spec/
  doc-coverage:
    name: "Doc coverage"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: ./script/install-apt-deps.sh
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "ruby"
          bundler-cache: true
      - name: doc coverage
        run: bundle exec yard stats --list-undoc | tee /dev/stdout | grep -q '100.00% documented'
